#banner {
    background-image: image-url("background.jpg");
    color: white;
    padding: 80px 0;
    background-size: cover;
    height: 650px;

    h1 {
        font-size: 50px;
        color: white;
        font-family: $gotham;
    }

    p {
        font-size: 25px;
        font-weight: 100;
    }

    img{
        border: 0;
        width: 500px;
        margin: 10px;
    }
}


.cardtemoignage{
    background: white;
    padding: 40px;
    box-shadow: 1px 1px 3px rgb(213,210,210);
    margin:10px;
    img{
        width:50%;
        margin: 0 auto;
    }
}

.i-fleche{
    font-size: 100px;
    color: white;
}

.block-fleche{
  position: relative;
  top: 200px;
}
