---
title: L'equipe qui gagne
---
<div class="text-center padded">
<h1>Notre Equipe</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut porro, illo hic consectetur numquam voluptatibus ab laborum nostrum doloremque cum assumenda tempora voluptatem sapiente, maxime, culpa. Dignissimos, voluptas consequatur sint!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, earum nam fugit perspiciatis blanditiis a ad ratione veniam aut. Iusto accusamus distinctio laudantium officiis nihil in atque debitis, ipsam voluptatibus.</p>

<ul class="list-inline">
    <li>
        <%= image_tag  "paper.svg",class:"img-circle" %>
        <h3>Drakie</h3>
    </li>
    <li>
        <img src="http://placehold.it/150/150" alt="" class="img-circle">
        <h3>Drakun</h3>
    </li>
    <li>
        <img src="http://placehold.it/150/150" alt="" class="img-circle">
        <h3>Corp</h3>
    </li>
</ul>
</div>
