---
title: L'equipe qui gagne
---
<div class="text-center padded">
<h1>Notre Equipe</h1>

<ul class="list-inline">
    <li>
        <%= image_tag  "paper.svg",class:"img-circle" %>
        <h3>Drakie</h3>
    </li>
    <li>
        <img src="http://placehold.it/150/150" alt="" class="img-circle">
        <h3>Drakun</h3>
    </li>
    <li>
        <img src="http://placehold.it/150/150" alt="" class="img-circle">
        <h3>Corp</h3>
    </li>
</ul>
</div>
